.form {

  &-screen {
    background-image: url("./assets/img-bgs/bg-2.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    //background-attachment: fixed; // !!!!!!!!!!!!!
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .row {
      border: 1px solid #1e9b9b;
    }
  }

  &-title {
    color: yellow;
  }

  &-group {

    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
    align-content: center;
    gap: 15px;

    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    border: 2px solid rgba(155, 155, 155, 0.6);
    min-height: 40px;
    margin: 1rem;

  }

  &-input {
    background-color: transparent;
    border: none;
  }

  &-label {
    color: yellow;
  }


}

.checkbox-group {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

#target {

}