
.form {

  &-screen {
    background-image: url("./assets/img-bgs/bg-2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    //background-attachment: fixed; // !!!!!!!!!!!!!
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 100vh;
      max-width: 800px;
    }
  }

  &-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: whitesmoke;
    margin: 20px auto;

    &-highlighted {
      color: $main-style-clr;
    }
  }

  &-group {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    flex-wrap: nowrap;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    border: 2px solid rgba(155, 155, 155, 0.6);
    min-height: 60px;
    margin: 1rem;
    &:hover {
      border-color: $main-style-clr;
    }
    &:focus {
      border-color: $main-style-clr;
    }
  }

  &-group-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  &-icon {
  }

  &-input {
    background-color: transparent;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 23px;
    color: #E0E0E0;
    width: 100%;
  }

  &-label {
    color: $main-style-clr;
    display: none;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
  }

  &-button {
    padding: 0;

    &-inner {
      @include button-style;
      width: 60%;

      &:hover {
        @include transition-style;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        transition-delay: 300ms;
      }
    }
  }

  &-footer {
    display: inline-block;
    margin: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #E0E0E0;

    a {
      color: $main-style-clr;
      text-decoration: underline;
    }
  }
}

#target {
}

.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown).form-input:not(:focus) ~ .form-label {
  display: inline-block;
}

.margin-auto {
  margin: auto;
}

.margin-top-auto {
  margin-top: auto;
}

@media (min-width: 360px), (max-width: 576px), screen {
  .form-button-inner {
    width: 100%;
  }
}

@media (max-height: 576px) and (orientation: landscape) {
  .invitation-screen, .form-screen {
    min-height: 200vh;
  }
}
