@import "./_invitation-screen";
@import "./_form-screen";

@font-face {
  src: url('./assets/fonts/Rubik-Light.ttf') format('ttf'),
  url('./assets/fonts/Rubik-Medium.ttf') format('ttf');
  font-family: Rubik;
  font-display: swap;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}




